@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand: #7A1F3A;
  --accent: #F6A623;
  --accent-2: #2B7FB6;
  --violet: #9B2FAE;
}

body{ font-family: 'Open Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; background:#fff }
h1,h2,h3{ font-family: 'Montserrat', sans-serif }
